<style>
.row{
	padding: 5px;
}
</style>
<!-- <div ng-repeat="profile in model.getUserProfile"> -->
    <div ng-controller="UserProfileController as nc" style="margin-top: 10%;margin-left: 27%;width:50%;" class="w3-container" >

        <h3 >Welcome <a >{{model.profile.firstname + " "+ model.profile.lastname}}</a></h3>
        <br>
        <br>
        <div class="row">
            <h5 class="col-4">Date Of Birth</h5>
            <p class="col-4">{{model.profile.dob}}</p>
        </div>

        <div class="row">
            <h5 class="col-4">Gender</h5>
            <p class="col-4">{{model.profile.gender}}</p>
        </div>

        <div class="row">
            <h5 class="col-4">Address</h5>
            <p class="col-4">{{model.profile.address}}</p>
        </div>

         <div class="row">
            <h5 class="col-4" for="projectSkills">Skills</h5>
             <p class="col-4" >{{model.userSkills}}</p>

         </div>

        <div class="row">
            <h5 class="col-4">Email</h5>
            <p class="col-4">{{model.profile.email}}</p>
        </div>

        <div class="row">
            <h5 class="col-4">Phone Number</h5>
            <p class="col-4">{{model.profile.phone}}</p>
        </div>

        <div class="row">
            <h5 class="col-4">Occupation</h5>
            <p class="col-4">{{model.profile.occupation}}</p>
        </div>

        <div class="row">
            <h5 class="col-4">Experience</h5>
            <p class="col-4">{{model.profile.experience}}</p>
        </div>

    <div class="m-5">
    <button class="btn btn-primary" ng-click="nc.editProfile(model.profile)">Edit Profile</button>
    </div>

<!-- <label>Skills and Specialization </label>
<textarea ng-model="topic.description" class="form-control"></textarea>
 -->
    </div>
</html>