<h3 class="text-left" >Update Profile</h3>

<div>
    <div class="form-group">
        <label class="col-2">Email id     </label>
        <input ng-model="profile.email" class="col-3" type="text" placeholder ={{model.oldprofile.email}}>
    </div>
</div>
<div>
    <div class="form-group">
<label class="col-2">First Name</label>
<input ng-model="profile.firstname" class="col-3"  placeholder={{model.oldprofile.firstname}}>
    </div>
</div>
<div>
    <div class="form-group">
<label class="col-2" >Last Name</label>
<input ng-model="profile.lastname" class="col-3" placeholder={{model.oldprofile.lastname}}>
    </div>
</div>

<div>
    <div class="form-group">
<label class="col-2">Date Of Birth</label>
<input ng-model="profile.dob" class="col-3" placeholder= {{model.oldprofile.dob}}>
    </div>
</div>

<div>
    <div class="form-group">
<label class="col-2">Gender</label>
<input ng-model="profile.gender" class="col-3" placeholder= {{model.oldprofile.gender}}>
    </div>
</div>

<div >
    <div class="form-group">
<label class="col-2">Address</label>
<input ng-model="profile.address" class="col-3" placeholder= {{model.oldprofile.address}}></input>
    </div>
</div>
<div >
    <div class="form-group">
<label class="col-2">Phone</label>
<input ng-model="profile.phone" class="col-3" placeholder= {{model.oldprofile.phone}}>
    </div>
</div>
<div >

    <div class="form-group" id="skillsbox">
    <style>
        label,select{
            vertical-align:middle;
        }
     </style>
    <label class="col-2" for="projectSkills">Select Skills</label>
    <select multiple class="col-3" id="projectSkills" required="" ng-model="model.selectedSkills">
        <option ng-repeat="each in model.allSkills" ng-selected=model.allSkills.id==model.userSkills.id value="{{each}}">{{each.name}}</option>

         <option ng-selected="u.selected" ng-repeat="each in model.allSkills" value="{{model.userSkills.id}}={{model.allSkills.id}}"></option>

    </select>
    </div>
</div>
<div ng-repeat="item in model.selectedSkills">Komal {{item}}</div>


<div>
<label class="col-2">Occupation</label>
<input ng-model="profile.occupation" class="col-3" placeholder= {{model.oldprofile.occupation}}>
</div>

<div>
<label class="col-2">Experience</label>
<input ng-model="profile.experience" class="col-3" placeholder= {{model.oldprofile.experience}}></input>
</div>

<div>
<label class="col-2">Description</label>
<input ng-model="profile.description" class="col-3" placeholder= {{model.oldprofile.description}}>
</div>

<div class="m-5">
    <button ng-click="model.updateProfile(profile)" class="btn btn-primary" >Update</button>
</div>
