<!-- Assessment status front end code-->

<div style="margin-top: 7%;">
    <div ng-repeat="assessment in model.getAssessmentStatusPending">
        <div class="card mb-3 mr-3 ml-3 mt-3">
            <div class="card-header ">
                <a >{{assessment.project.name}}</a>
            </div>
            <div class="card-body">
                <p class="card-text">Due Date: {{assessment.project.dueDate.split('T')[0]}}</p>
                <p>Positions: {{assessment.project.positions}}</p>
                <button type="button" ng-click="model.taskAssessment(assessment)" class="btn btn-outline-primary">Take Assessment</button>
            </div>
            <div class="card-footer text-muted">
                Assessment Status: {{assessment.assesmentStatus}}
            </div>
        </div>
    </div>
</div>